<!DOCTYPE html>
<html lang="en">
<head>
    <title>Wizard World - Houses</title>
    <style>
        #traitlist {
            list-style: none;
            padding: 0;
            margin: 0 0 15px;
        }
        #traitlist li {
            display: inline;
        }
        #traitlist li.selected {
            font-weight: bold;
        }
        #traitlist li:after {
            content: ", ";
        }
        #traitlist li:last-child:after {
            content: "";
            clear: both;
            display: table;
        }
        #traitlist:after {
            content: "";
            clear: both;
            display: table;
        }
    </style>
</head>
<body>
<button onclick="history.back()">Go Back</button>

<h1>Your Hogwarts Houses based on your selected Houses</h1>

{% for house in houses.all() %}
    <h2>{{ house.Name().asString() }}</h2>
    <h3>Matching Traits</h3>
    <ul id="traitlist">
        {% for trait in house.TraitCollection.all() %}
            {% if selectedTraits.has(trait.Id) == true %}
            <li class="selected">
                {{ trait.Name.asString() }}
            </li>
            {% endif %}
        {% endfor %}
    </ul>
    <a href="{{ path('house', { 'id': house.Id.asString() }) }}">More Details</a>
    <hr>
{% endfor %}

</body>
</html>